
/** op-webpack-css:/font-style.css
 *
 * @created   2018-11-19
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body .bold {
	font-weight: bold;
}

body.body .italic {
	font-style: italic;
}

body.body .underline {
	text-decoration: underline;
}
