
/** op-webpack-css:/header.php
 *
 * @created   2019-01-31
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

/** "position:fixed" area will always done repaint at scroll.
 *
 * @see https://qiita.com/ttiger55/items/b2423cb72668c3c98d89
 */
body.body .header {
	will-change: transform;
	position:    fixed;
}
