
/** op-webpack-css:/list.css
 *
 * @created   2018-04-17
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body ul,
body.body ol {
	margin : 0;
	padding: 0;
}

body.body li {
	margin-left:  1.5rem;
	margin-right: 0.2rem;
	padding-inline-start: 0;
}
