
/** op-module-webpack-css-common:/a.css
 *
 * @created   2018-04-12
 * @version   1.0
 * @package   op-module-webpack-css-common
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body a {
	color: var(--color-link);
}

body.body a:visited {
	color: var(--color-visited);
}

body.body a:hover {
	color: var(--color-hover);
	text-decoration: none;
}
