/**
 * app-skeleton-webpack:/css/op/args.css
 *
 * @creation  2017-07-31
 * @version   1.0
 * @package   app-skeleton-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

span.args > span.arg:not(:last-child):after {
	margin-right: 0.25em;
	content: ',';
}

span.args > span.arg > span.quote:before,
span.args > span.arg > span.quote:after {
	content: '"';
}

span.args > span.arg > span.boolean.true {
	color: var(--color-true);
}

span.args > span.arg > span.null,
span.args > span.arg > span.boolean.false {
	color: var(--color-false);
}

span.args > span.arg > span.number {
	font-style: italic;
}

span.args > span.arg > span.integer {
	color: inherit;
}

span.args > span.arg > span.double {
	color: inherit;
}

span.args > span.arg > span.array {
	color: var(--color-purple);
}

span.args > span.arg > span.object {
	color: var(--color-green);
}

span.args > span.arg > span.string > span.meta {
	color: var(--args-meta-color);
}

span.args > span.arg > span.string > span.meta.space {
	text-decoration: underline;
}
