/**
 * app-webpack-css:/args.css
 *
 * @creation  2017-07-31
 * @version   1.0
 * @package   app-skeleton
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

div.OP_MARK span.arg:not(:last-child):after {
	margin-right: 0.25em;
	content: ',';
}

span.args > span.arg.quote:before,
span.args > span.arg.quote:after {
	content: '"';
}

span.args > span.arg.boolean.true {
	color: #0000f0;
}

span.args > span.arg.boolean.false {
	color: #f00000;
}

span.args > span.null {
	color: #f00000;
}

span.args > span.arg.number {
	_font-weight: bold;
	_font-style: italic;
}

span.args > span.arg.integer {

}

span.args > span.arg.double {

}

span.args > span.arg.array,
span.args > span.arg.object {
	color: #00d030;
}

span.args > span.arg.string > span.meta {
	color: #c0c0c0;
}

span.args > span.arg.string > span.meta.space {
	text-decoration: underline;
}
