
/**	op-webpack-css:/blockquote.css
 *
 * @creation  2025-11-15
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara
 * @copyright Tomoaki Nagahara All rights reserved.
 */

 blockquote,
.blockquote {
	margin: 1.5em 0;
	padding: 0.8em 1em;
	border-left: 4px solid #ccc;
	background: #f9f9f9;
	color: #333;
}

.blockquote {
	display: block;
}
