
/** op-module-webpack-css-common:/body.css
 *
 * @created   2018-04-12
 * @version   1.0
 * @package   op-module-webpack-css-common
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body {
	margin:  0;
	padding: 0;
	color:            var(--root-color-text);
	background-color: var(--root-color-background);
	border-color:     var(--root-color-border);
	font-size:        var(--root-font-size);
}
