/**
 * op-module-webpack:/css/common/body.css
 *
 * @created   2018-04-12
 * @version   1.0
 * @package   op-module-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

/** Font family
 *
 */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);

body.body {
	color:            var(--root-color-text);
	background-color: var(--root-color-background);
	border-color:     var(--root-color-border);
	font-size:        var(--root-font-size);
	font-family: Avenir, "Open Sans", sans-serif;
}
