
/** op-module-webpack-css-common:/css/common/border.css
 *
 * @created   2018-10-31
 * @version   1.0
 * @package   op-module-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body .border {
	border-color:  var(--root-color-border);
	border-width: 1px;
	border-style: solid;
}
