
/** op-module-webpack-css-common:/css/common/br.css
 *
 * @created   2018-10-31
 * @version   1.0
 * @package   op-module-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body .br::after {
	content: "\A";
	white-space: pre;
}

body.body br.float.clear {
	clear: both;
}

body.body br.float.clear.left {
	clear: left;
}

body.body br.float.clear.right {
	clear: right;
}
