
/** op-webpack-css:/code.css
 *
 * @created   2018-04-12
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body  code,
body.body .code {
	font-family: "Courier New", Consolas, monospace;
	border-radius: 0.2em;

	color: var(--code-color-text);
	background-color: var(--code-color-background);

	overflow: scroll;
	line-height: 1.3em;
}

body.body code {
	white-space: pre;
}

body.body .code {
	border: 1px solid var(--code-color-border);
}

/* Separate to inline code */
body.body pre > code {
	display: block;
}

body.body pre > code,
body.body div.code {
	margin:  1em 0;
	padding: 0.5em 1em;
}

body.body span.code {
	margin:  .5em;
	padding: .5em;
}
