
/**	op-webpack-css:/color+.css
 *
 * @created   2025-11-18  Separated from color.css
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara
 * @copyright Tomoaki Nagahara All right reserved.
 */

.color.black {
	color: var(--op-color-black);
}

.color.gray {
	color: var(--op-color-gray);
}

.color.silver {
	color: var(--op-color-silver);
}

.color.ivory {
	color: var(--op-color-ivory);
}

.color.snow {
	color: var(--op-color-snow);
}

.color.white {
	color: var(--op-color-white);
}

.color.red {
	color: var(--op-color-red);
}

.color.scarlet {
	color: var(--op-color-scarlet);
}

.color.brown {
	color: var(--op-color-brown);
}

.color.chocolate {
	color: var(--op-color-chocolate);
}

.color.copper {
	color: var(--op-color-copper);
}

.color.orange {
	color: var(--op-color-orange);
}

.color.gold {
	color: var(--op-color-gold);
}

.color.olive {
	color: var(--op-color-olive);
}

.color.yellow {
	color: var(--op-color-yellow);
}

.color.lime {
	color: var(--op-color-lime);
}

.color.green {
	color: var(--op-color-green);
}

.color.lightgreen {
	color: var(--op-color-lightgreen);
}

.color.skyblue {
	color: var(--op-color-skyblue);
}

.color.cyan {
	color: var(--op-color-cyan);
}

.color.lavender {
	color: var(--op-color-lavender);
}

.color.blue {
	color: var(--op-color-blue);
}

.color.indigo {
	color: var(--op-color-indigo);
}

.color.purple {
	color: var(--op-color-purple);
}

.color.magenta {
	color: var(--op-color-magenta);

}

.color.rose {
	color: var(--op-color-rose);

}

.color.plum {
	color: var(--op-color-plum);

}

.color.violet {
	color: var(--op-color-violet);

}

.color.pink {
	color: var(--op-color-pink);

}

.color.apple {
	color: var(--op-color-apple);
}
