
/** op-webpack-css:/color.css
 *
 * @created   2023-01-20
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara
 * @copyright Tomoaki Nagahara All rights reserved.
 */

/*
<?php
$darkmode = OP()->Config('layout')['darkmode'] ?? null;
?>
*/

/** Reference sites
 * http://www.colorem.net/en/?color=red
 * https://web.havincoffee.com/css/value/color/func-hsla.html 
 */
:root {
	--op-color-hue:                             0;
	--op-color-black:      hsl(  0,   0%,   0%);
	--op-color-gray:       hsl(  0,   0%,  75%);
	--op-color-silver:     hsl(234,  67%,  94%);
	--op-color-ivory:      hsl( 60, 100%,  97%);
	--op-color-snow:       hsl(  0, 100%,  99%);
	--op-color-white:      hsl(  0,   0%, 100%);
	--op-color-red:        hsl(  0, 100%,  50%);
	--op-color-scarlet:    hsl(  0,  72%,  32%);
	--op-color-brown:      hsl(  0,  51%,  33%);
	--op-color-chocolate:  hsl( 25,  75%,  47%);
	--op-color-copper:     hsl( 29,  57%,  46%);
	--op-color-orange:     hsl( 39, 100%,  50%);
	--op-color-gold:       hsl( 51, 100%,  50%);
	--op-color-olive:      hsl( 60, 100%,  25%);
	--op-color-yellow:     hsl( 60, 100%,  50%);
	--op-color-lime:       hsl(120, 100%,  50%);
	--op-color-green:      hsl(120, 100%,  25%);
	--op-color-lightgreen: hsl(120,  73%,  75%);
	--op-color-skyblue:    hsl(197,  71%,  73%);
	--op-color-cyan:       hsl(180, 100%,  50%);
	--op-color-lavender:   hsl(240,  67%,  94%);
	--op-color-blue:       hsl(240, 100%,  50%);
	--op-color-indigo:     hsl(275, 100%,  25%);
	--op-color-purple:     hsl(277,  87%,  53%);
	--op-color-magenta:    hsl(300, 100%,  50%);
	--op-color-rose:       hsl(312, 100%,  50%);
	--op-color-plum:       hsl(300,  47%,  75%);
	--op-color-violet:     hsl(300,  76%,  72%);
	--op-color-pink:       hsl(350, 100%,  88%);
	--op-color-apple:      hsl(353,  55%,  55%);

	--op-color-slightly:          hsla(  0,   0%,  90%, 1);
	--op-color-faintly:           hsla(  0,   0%,  80%, 1);
	--op-color-clearly:           hsla(  0,   0%,  70%, 1);

	--op-color-hover-text:        hsla(240,  90%,  50%, 1);
	--op-color-hover-border:      hsla(240,  80%,  80%, 0.5);
	--op-color-hover-background:  hsla(240,  90%,  90%, 1);

	--op-color-text:         hsl(210, 10%, 15%);
	--op-color-back:         hsl(  0,  0%, 98%);
	--op-color-border:       hsl(0, 0%, 30%);
	--op-color-link:         hsla(240, 80%, 70%, 1.0);

	--op-color-true:         #00f;
	--op-color-false:        #f00;
	--op-color-null:         #f00;
	--op-color-meta:         hsl(0, 0%, 80%);
}

/* <?php if( $darkmode ): ?> */
/** For dark mode.
 *
 * @see       https://www.webcreatorbox.com/tech/dark-mode
 * @created   2019-11-19
 */
@media (prefers-color-scheme: dark) {
	:root {
	--op-color-hue:                             0;

	--op-color-slightly:          hsla(  0,   0%,  10%, 1);
	--op-color-faintly:           hsla(  0,   0%,  20%, 1);
	--op-color-clearly:           hsla(  0,   0%,  50%, 1);
	--op-color-border:            hsla(  0, 100%, 100%, 1);

	--op-color-hover-text:        hsla(240,  90%,  90%, 1);
	--op-color-hover-border:      hsla(240,  70%,  70%, 0.5);
	--op-color-hover-background:  hsla(240,  60%,  60%, 1);

	--op-color-text:         hsl(  0,  0%, 90%);
	--op-color-back:         hsl(210, 10%, 20%);
	--op-color-border:       hsl(0, 0%, 50%);

	--op-color-true:         #afafff;
	--op-color-false:        #f09090;
	--op-color-null:         #f09090;
	--op-color-meta:         hsl(0, 0%, 50%);
	}
}
/* <?php endif; ?> */
