
/** op-module-webpack-css-common:/float.css
 *
 * @created   2019-04-03
 * @version   1.0
 * @package   op-module-webpack-css-common
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body .float.left {
	float: left;
}

body.body .float.right {
	float: right;
}

body.body .float.clear {
	clear: both;
}

body.body .float.clear.left {
	clear: left;
}

body.body .float.clear.right {
	clear: right;
}
