
/** op-module-webpack-css-common:/font-color.css
 *
 * @created   2018-04-12
 * @version   1.0
 * @package   op-module-webpack-css-common
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body .blue,
body.body .true,
body.body .success {
	color: var(--color-true);
}

body.body .red,
body.body .null,
body.body .false,
body.body .fail,
body.body .failed,
body.body .failure,
body.body .error {
	color: var(--color-false);
}

body.body .glay,
body.body .gray {
	color: gray;
}

body.body .green {
	color: green;
}

body.body .purple {
	color: purple;
}

body.body .yellow {
	color: yellow;
}
