
/** op-webpack-css:/font-color.css
 *
 * @created   2018-04-12
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara
 * @copyright Tomoaki Nagahara All rights reserved.
 */

.red {
	color: var(--op-color-red);
}

.blue {
	color: var(--op-color-blue);
}

.white {
	color: var(--op-color-white);
}

.black {
	color: var(--op-color-black);
}

.glay,
.gray {
	color: var(--op-color-gray);
}

.green {
	color: var(--op-color-green);
}

.yellow {
	color: var(--op-color-yellow);
}

.purple {
	color: var(--op-color-purple);
}

.true {
	color: var(--op-color-true);
}

.false {
	color: var(--op-color-false);
}

.null {
	color: var(--op-color-null);
}

.success {
	color: var(--op-color-success);
}

.failure {
	color: var(--op-color-failure);
}
.error {
	color: var(--op-color-error);
}
