
/** op-module-webpack-css-common:/css/common/footer.php
 *
 * @created   2019-03-12
 * @version   1.0
 * @package   op-module-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

footer{
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
}
