
/** op-module-webpack-css-common:/h.css
 *
 * @created   2018-04-17
 * @version   1.0
 * @package   op-module-webpack-css-common
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

/*
body.body h1 {
	font-size: 180%;
}

body.body h2 {
	font-size: 160%;
}

body.body h3 {
	font-size: 140%;
}

body.body h4 {
	font-size: 120%;
}

body.body h5 {
	font-size: 110%;
}

body.body h6 {
	font-size: 100%;
}

body.body h1,
body.body h2,
body.body h3,
body.body h4,
body.body h5,
body.body h6 {
	margin-top:    0.5rem;
	margin-bottom: 0.5rem;
}
*/
