
/** op-module-webpack-css-common:/list.css
 *
 * @created   2018-04-17
 * @version   1.0
 * @package   op-module-webpack-css-common
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body ul,
body.body ol {
	margin : 0;
	padding: 0;
}

body.body li {
	margin-left: 2.5em;
	padding-inline-start: 0;
}
