
/** op-webpack-css:/list.css
 *
 * @created   2018-04-17
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara
 * @copyright Tomoaki Nagahara All rights reserved.
 */

ul,
ol {
	margin : 0;
	padding: 0;
}

li {
	margin-left:  1.5rem;
	margin-right: 0.2rem;
	margin-bottom:0.5rem;
	line-height:  1.7rem;
	padding-inline-start: 0;
}

li code {
	margin-left: 0;
}
