
/** op-module-webpack-css-common:/css/common/list.css
 *
 * @created   2018-04-17
 * @version   1.0
 * @package   op-module-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body ul,
body.body ol {
	margin-right: 0;
}

body.body li {
	margin-left: 2.5em;
}
