/**
 * app-skeleton-webpack:/css/op/notice.css
 *
 * @creation  2018-04-12
 * @version   1.0
 * @package   app-skeleton-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */
