
/** op-webpack-css:/p.css
 *
 * @created   2018-04-12
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara
 * @copyright Tomoaki Nagahara All rights reserved.
 */

p {
	_text-indent: 1em;
	line-height: 1.6em;
}

/**
 * @see http://phiary.me/css-tips-certainly-line-break/
 */
p {
	word-wrap:   break-word;
	white-space: normal;
}

/**
 * @see https://lab.syncer.jp/Web/CSS/Snippet/4/
 */
p.br::after {
	content: "\A" ;
	white-space: pre;
}
