
/** op-module-webpack-css-common:/css/common/p.css
 *
 * @created   2018-04-12
 * @version   1.0
 * @package   op-module-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body p {
	text-indent: 1em;
}

/**
 * @see http://phiary.me/css-tips-certainly-line-break/
 */
body.body p {
	word-wrap:   break-word;
	white-space: normal;
}

/**
 * @see https://lab.syncer.jp/Web/CSS/Snippet/4/
 */
body.body p.br::after {
	content: "\A" ;
	white-space: pre;
}
