
/** op-module-webpack-css-common:/pre.css
 *
 * @created   2018-10-31
 * @version   1.0
 * @package   op-module-webpack-css-common
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body  pre,
body.body .pre {
	margin:  0;
	padding: 0;
	border-width: 0;
}
