
/** op-webpack-css:/root.css
 *
 * @created   2018-10-26
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

:root {
	--hue:                   0;
	--font-size:          16px;
	--color-text:         #555;
	--color-disabled:     #bbb;
	--color-background:   #fff;
	--color-border:       #333;
	--color-link:         hsl(200, 75%, 30%);
	--color-visited:      hsl(300, 90%, 40%);
	--color-hover:        hsl(200, 85%, 30%);
	--color-true:         #00f;
	--color-false:        #f00;
	--color-null:         #f00;
	--color-blue:         #00f;
	--color-red:          #f00;
	--color-green:        #00f900;
	--color-purple:       #9437ff;
	--color-gray:         #ccc;
	--input-border:       #999;
	--button-background:  #eee;
	--color-bg-disabled:       hsl(0, 0%, 95%);
	--color-border-disabled:   hsl(0, 0%, 50%);
	--table-border-color:      hsl(0, 0%, 50%);
	--table-background-color-stripes: hsl(0, 0%, 95%);
	--args-meta-color:         hsl(0, 0%, 80%);
}

/* <?php if( \OP\Config::Get('execute')['darkmode'] ?? true ): ?> */
/** For dark mode.
 *
 * @see       https://www.webcreatorbox.com/tech/dark-mode
 * @created   2019-11-19
 */
@media (prefers-color-scheme: dark) {
	:root {
		--color-text:         #ccc;
		--color-background:   #2c2c2c;
		--color-border:       #aaa;
		--color-link:         hsl(200, 85%, 80%);
		--color-visited:      hsl(300, 85%, 80%);
		--color-hover:        hsl(200, 85%, 90%);
		--color-true:         #afafff;
		--color-false:        #f09090;
		--color-null:         #f09090;
		--color-green:        #69f041;
		--color-purple:       #d070ff;
		--args-meta-color:    hsl(0, 0%, 50%);
	}
}
/* <?php endif; ?> */
