
/** op-module-webpack-css-common:/root.css
 *
 * @created   2018-10-26
 * @version   1.0
 * @package   op-module-webpack-css-common
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

:root {
	--root-font-size:          16px;
	--root-color-text:         #555;
	--root-color-disabled:     #bbb;
	--root-color-background:   #fff;
	--root-color-border:       #333;
	--root-color-link:         #3170C3;
	--root-color-visited:      #3170C3;
	--root-color-hover:        #3170C3;
	--root-color-true:         #00f;
	--root-color-false:        #f00;
	--root-color-null:         #f00;
	--root-color-blue:         #00f;
	--root-color-red:          #f00;
	--root-color-green:        #00f900;
	--root-color-purple:       #9437ff;
	--root-color-gray:         #ccc;
	--root-input-border:       #999;
	--root-button-background:  #eee;
	--code-color-text:         hsl(0, 0%,  0%);
	--code-color-background:   hsl(0, 0%, 97%);
	--code-color-border:       hsl(0, 0%, 50%);
	--color-bg-disabled:       hsl(0, 0%, 95%);
	--color-border-disabled:   hsl(0, 0%, 50%);
	--table-border-color:      hsl(0, 0%, 50%);
	--table-background-color-stripes: hsl(0, 0%, 95%);
}

/* <?php if( \OP\Config::Get('layout')['darkmode'] ?? null ): ?> */
/** For dark mode.
 *
 * @see       https://www.webcreatorbox.com/tech/dark-mode
 * @created   2019-11-19
 */
@media (prefers-color-scheme: dark) {
	:root {
		--root-color-text:         #ccc;
		--root-color-background:   #2c2c2c;
		--root-color-border:       #aaa;
		--root-color-link:         #00a5ff;
		--root-color-visited:      #c951ff;
		--root-color-hover:        #0f0;
		--root-color-true:         #99f;
		--root-color-false:        #f99;
		--root-color-null:         #f99;
		--root-color-green:        #69f041;
		--code-color-text:         hsl(0, 0%, 90%);
		--code-color-background:   hsl(0, 0%, 10%);
		--code-color-border:       hsl(0, 0%, 50%);
	}
}
/* <?php endif; ?> */
