
/** op-module-webpack-css-common:/css/common/root.css
 *
 * @created   2018-10-26
 * @version   1.0
 * @package   op-module-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

:root {
	--root-hue:                   0;
	--root-font-size:           1em;
	--root-color-text:       #555;
	--root-color-disabled:   #bbb;
	--root-color-background: #fff;
	--root-color-border:     #333;
	--root-color-link:         #3170C3;
}

/** For dark mode.
 *
 * @see       https://www.webcreatorbox.com/tech/dark-mode
 * @created   2019-11-19
 */
@media (prefers-color-scheme: dark) {
	:root {
		--root-color-text:         #ddd;
		--root-color-background:   #000;
		--root-color-border:       #fff;
		--root-color-link:         #47bd43;
		--root-color-visited:      #f2f668;
		--root-color-hover:        #0f0;
	}
}
