
/** op-webpack-css:/syntax.css
 *
 * @created   2023-01-18
 * @version   1.0
 * @package   op-webpack-css
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

@layer syntax {

:root {
	--op-syntax-hue:    0;
	--op-syntax-sat: 100%;
	--op-syntax-lum: 100%;

	--op-syntax-text:     hsl(  0,  10%,  10%);
	--op-syntax-back:     hsl(  0,   0%,  95%);
	--op-syntax-border:   hsl(  0,   0%,  75%);

	--op-syntax-meta:     hsl(  0,   0%,  0%);
	--op-syntax-comment:  hsl(  0,   0%, 50%);
	--op-syntax-string:   hsl(  0, 100%, 50%);
	--op-syntax-variable: hsl(240, 100%, 50%);

	--op-syntax-literal:  hsl(260, 100%, 50%);
	--op-syntax-true:     hsl(280, 100%, 50%);
	--op-syntax-false:    hsl(300, 100%, 50%);
	--op-syntax-null:     hsl(320, 100%, 50%);

	--op-syntax-return:   hsl(260,  50%, 50%);
	--op-syntax-new:      hsl(220,  50%, 50%);
	--op-syntax-private:  hsl(280,  50%, 50%);
	--op-syntax-public:   hsl(220,  50%, 50%);

	--op-syntax-built_in: hsl(280,  90%, 60%);

	--op-syntax-keyword:  hsl(140, 100%,  30%);
	--op-syntax-title:    hsl(120, 100%,  30%);
	--op-syntax-class:    hsl(120, 100%,  30%);
	--op-syntax-function: hsl(150,  50%,  50%);
	--op-syntax-OP:       hsl( 40, 100%,  50%);
}

/* <?php if( \OP\Config::Get('layout')['darkmode'] ?? true ): ?> */
/** For dark mode.
 *
 * @see       https://www.webcreatorbox.com/tech/dark-mode
 * @created   2019-11-19
 */
@media (prefers-color-scheme: dark) {
	:root {
	--op-syntax-hue:    0;
	--op-syntax-sat:  50%;
	--op-syntax-lum:  50%;

	--op-syntax-text:     hsl(  0, 100%, 100%);
	--op-syntax-back:     hsl(  0,   0%,  10%);
	--op-syntax-border:   hsl(  0,   0%,   0%);

	--op-syntax-meta:     hsl(  0, 100%, 90%);
	/*
	--op-syntax-comment:  hsl(  0,   0%, 50%);
	*/
	--op-syntax-string:   hsl(  0, 100%, 65%);
	--op-syntax-variable: hsl(200, 100%, 50%);

	--op-syntax-literal:  hsl(260, 100%, 50%);
	--op-syntax-true:     hsl(220, 100%, 80%);
	/*
	--op-syntax-false:    hsl(300, 100%, 50%);
	--op-syntax-null:     hsl(320, 100%, 50%);

	--op-syntax-keyword:  hsl(120,  50%, 50%);
	--op-syntax-return:   hsl(260,  50%, 50%);
	--op-syntax-new:      hsl(220,  50%, 50%);
	--op-syntax-private:  hsl(280,  50%, 50%);
	--op-syntax-public:   hsl(220,  50%, 50%);

	--op-syntax-built_in: hsl(220,  50%, 50%);

	--op-syntax-title:    hsl(120, 100%,  25%);
	--op-syntax-class:    hsl(100,  50%,  50%);
	--op-syntax-function: hsl(100,  50%,  50%);
	--op-syntax-OP:       hsl( 40, 100%,  50%);
	*/
	}
}
/* <?php endif; ?> */

span.hljs-meta {
	color: var(--op-syntax-meta);
}

span.hljs-comment {
	color: var(--op-syntax-comment);
}

span.hljs-string {
	color: var(--op-syntax-string);
}
span.hljs-subst {
	color: var(--op-syntax-variable);
}

span.hljs-variable {
	color: var(--op-syntax-variable);
}

span.hljs-literal {
	color: var(--op-syntax-literal);
}

span.hljs-literal {
	color: var(--op-syntax-literal);
}

span.hljs-literal.null {
	color: var(--op-syntax-null);
}

span.hljs-literal.true {
	color: var(--op-syntax-true);
}

span.hljs-literal.false {
	color: var(--op-syntax-false);
}

span.hljs-keyword {
	color: var(--op-syntax-keyword);
}

span.hljs-keyword.return {
	color: var(--op-syntax-return);
}

span.hljs-keyword.new {
	color: var(--op-syntax-new);
}

span.hljs-keyword.private {
	color: var(--op-syntax-private);
}

span.hljs-keyword.public {
	color: var(--op-syntax-public);
}

span.hljs-built_in {
	color: var(--op-syntax-built_in);
}

span.hljs-title {
	color: var(--op-syntax-title);
}

span.hljs-title.class_ {
	color: var(--op-syntax-class);
}

span.hljs-title.function_ {
	color: var(--op-syntax-function);
	font-weight: bold;
}

span.hljs-title.OP {
	color: var(--op-syntax-OP);
	font-weight: bold;
}

}
