
/** op-module-webpack-css-common:/table.css
 *
 * @created   2017-01-11
 * @version   1.0
 * @package   op-module-webpack-css-common
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body .table {
	display: table;
}

body.body .table .tr {
	display: table-row;
}

body.body .table .tr .th,
body.body .table .tr .td {
	display: table-cell;
	padding: 0 0.1em;
}

body.body .table .tr .th {
	font-weight:   bold;
	text-align:  center;
}

/* Table cells collapse settings */
body.body  table:not(.separate),
body.body .table:not(.separate) {
	border-collapse: collapse;
}

/* Not draw border --> table.border.none */
body.body table.border:not(.none) tr,
body.body table.border:not(.none) th,
body.body table.border:not(.none) td {
	border: 1px solid var(--table-border-color);
}

/* Draw stripes color */
body.body table.stripe  tr:nth-child(even),
body.body table.stripes tr:nth-child(even) {
	background-color: var(--table-background-color-stripes);
}

body.body th.left, 
body.body td.left {
	text-align: left;
}

body.body th.right, 
body.body td.right {
	text-align: right;
}

body.body th.center, 
body.body td.center {
	text-align: center;
}

body.body th.top, 
body.body td.top {
	vertical-align: top;
}

body.body th.bottom, 
body.body td.bottom {
	vertical-align: bottom;
}
