
/** op-module-webpack-css-common:/css/common/table.css
 *
 * @created   2017-01-11
 * @version   1.0
 * @package   op-module-webpack
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body th.left, 
body.body td.left {
	text-align: left;
}

body.body th.right, 
body.body td.right {
	text-align: right;
}

body.body th.center, 
body.body td.center {
	text-align: center;
}

body.body th.top, 
body.body td.top {
	vertical-align: top;
}

body.body th.bottom, 
body.body td.bottom {
	vertical-align: bottom;
}
